/* Mobile */

@media only screen and (max-width: 812px) {
  .bgr-header-top {
    display: none;
  }
}

@media only screen and (max-width: 812px) {
  .bgr-header-top .slide-container {
    width: auto;
  }
}
/* @media (max width(360)) {
  .mySlides img {
    width: 100%;
  }
} */
